html {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    margin-top: -1px;
}

p {
    padding: 0px 20px;
}

ul, ol, p {
    margin: 30px;
}

h1, h2 {
    background-color: blanchedalmond;
    text-align: center;
    padding: 10px;
}

.home-button {
    display: block;
    text-decoration: none;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
    background-color: antiquewhite;
    width: fit-content;
    color: black;
    margin: 22px 0px;
}

.recipe-image {
    display: block;
    margin: auto;
    border-radius: 10px;
}

body {
    padding: 10px;
    background-color: whitesmoke;
}

.recipe-image {
    width: auto;
    height: 400px;
}

.steps-container {
    margin-bottom: -10px;
}